@import 'vue-multiselect/dist/vue-multiselect.min.css';
@import 'popper';

body {
  font-family: Segoe UI, Helvetica Neue, sans-serif;
  font-size: 12pt;

  a {
    color: #1c79cb;

    &:hover {
      color: #529fe2;
    }
  }

  input[type='text'],
  input[type='password'],
  input[type='submit'],
  input[type='button'],
  button,
  textarea {
    color: #35495e;
    font-size: 0.85em;
    font-family: inherit;
    line-height: 1.5em;

    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 0.5em;
  }

  input[type='button'],
  input[type='submit'],
  button {
    border: none;
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  }
  input[type='button'],
  input[type='submit'],
  button,
  .click-transform {
    cursor: pointer;

    &:active {
      transform: translateY(2px);
    }
  }
}
